.dog-card-container{
    max-width: 300px;
    min-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: transparent;
    border-radius: 10%;
}

.adopted-mark{
    position: absolute;
    left: 90%;
}

.dog-card-image{
    object-fit: cover;
    max-height: 350px;
    height: 350px;
   
}

.card-text{ 
    background-color: white;
    color: black;
    opacity: 1%;
    filter: brightness(2.5);
}

.dog-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

.dog-details{
    color: rgb(255, 255, 255);
    font-size: 125%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-weight: 900;
}
